@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width:1200px;
    width:90%;
    margin:auto;
}
    

/* Styling for scroll bar */

/* -webkit-scrollbar is the pseudo element which used to change the properties of scroll bar like its width */
body::-webkit-scrollbar{
    width: 0.25rem;
}



/* -webkit-scrollbar-track is the pesudo element for the track or the limit of scroll  */
body::-webkit-scrollbar-track{
    background: white;
}


/* -webkit-scrollbar-thumb is the actual scroller which is used to scroll the webpage  */
body::-webkit-scrollbar-thumb{
    background: orange;
}

.logo{
    display: inline;
    color: aliceblue;
    font-size: 2rem ;
    font-weight: 300;
}

li{
    border: 1px solid   blanchedalmond;
    border-radius: 100px;   
    width: auto;
    display: inline;
    list-style: none;
    padding: 0.5rem 0.5rem ;
    margin: 0.25rem;
    text-align: center;
    transition: 0.4s;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(../images/scott-graham-5fNmWej4tAA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;

    
}


nav{
    position: fixed;
    
    background-color: rgba(0, 0, 0, 0);
    /* opacity: 0.5; */
    width: 100vw;
    height: 4rem;
    margin: 0 auto;
    padding: 1.2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

a{
    text-decoration: none;
    color: bisque;
    font-weight: 400;
    transition: 0.4s;
}
li a:hover{
    letter-spacing: 0.25rem;
}



li:hover{
    background-color: orange ;
    letter-spacing: 0.25rem;
    box-shadow: 0 0 1rem orange;
}

.services{
    height: 100px;
    background-color: aqua;
}

.Contact_us{
    background-color: orangered;
    padding: 1rem;
    margin-left: 3rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 900px) {
    nav{
        background-color:red;
    }
}
